<link rel="stylesheet" href="/stylesheet/style.css"/>

<nav>
  <a href="/">Home</a>
  <% if(user) { %>
    <a href="/patients/search">Patient Search</a>
    <% if(activePatient) {%>
      <span>Active: <%= activePatient.firstName %> <%= activePatient.lastName %>
        <small>(DOB: <%= activePatient.dob %> )</small>
        <a href="/patients/clear-selection">Switch Patient</a>
      </span>
    <% } %>
    <a href="/auth/sign-out">Logout <%= user.username %></a>
  <% } else { %>
    <a href="/auth/sign-up">Sign-Up</a>
    <a href="/auth/sign-in">Sign-In</a>
  <% } %>
</nav>