<link rel="stylesheet" href="/stylesheet/style.css"/>

<nav>
  <a href="/">Home</a>
  <a href="/billing">Billing</a>
  <a href="/billing/billing._id">Billing Profile</a>
  <a href="/billing/insurance-information">Billing Insurance Information</a>
</nav>