<link rel="stylesheet" href="/stylesheet/style.css"/>

<nav>
  <a href="/">Home</a>
  <a href="/patient">Search for a Patient</a>
  <a href="/patient/patient._id">Patient Profile</a>
  <a href="/patient/insurance-information">Patient Insurance Information</a>
</nav>