<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
  </head>
  <body>
    <h1>You have encountered and error!</h1>
    <p><strong>Error message:</strong>
    <%= err %></p>
  </body>
  <button onClick="window.history.back()">Go Back</button>
</html>