<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
  </head>
  <body>
     <%- include('./partials/_navbar.ejs') %>
    <h1>You have encountered an error!</h1>
      <p><strong>Error message:</strong>
        <%= typeof err !== 'undefined' ? err: 'An unknown error occurred!' %>
      </p>

    <button onClick="window.history.back()">Go Back</button>

  </body>
</html>