<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Confirmation</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Are you sure you want to delete this billing?</h1>

  <form action="/billing/<%= billing._id %>/?_method=DELETE" method="POST">
    <button type="submit">Confirm Delete <%= billing.name %></button>
  </form>
  <a href="/billing/<%= billing._id %>">Cancel & Go Back</a>
</body>
</html>